pkgbase = secilc
	pkgdesc = SELinux Common Intermediate Language Compiler
	pkgver = 3.10
	pkgrel = 1
	url = https://github.com/SELinuxProject/cil/wiki
	arch = i686
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = custom
	checkdepends = checkpolicy
	makedepends = xmlto
	makedepends = docbook-xml
	makedepends = docbook-xsl
	depends = libsepol>=3.10
	source = https://github.com/SELinuxProject/selinux/releases/download/3.10/secilc-3.10.tar.gz
	source = https://github.com/SELinuxProject/selinux/releases/download/3.10/secilc-3.10.tar.gz.asc
	validpgpkeys = 63191CE94183098689CAB8DB7EF137EC935B0EAF
	validpgpkeys = 68D21823342A13683AEB3E4EFB4C685B5DC1C13E
	sha256sums = 6658071d6f1044184d3973062a798187537ae1c3ddb4c31afd417df333316c10
	sha256sums = SKIP

pkgname = secilc
