pkgbase = libsemanage
	pkgdesc = SELinux binary policy manipulation library
	pkgver = 3.10
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux
	install = libsemanage.install
	arch = i686
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = LGPL2.1
	makedepends = flex
	makedepends = pkgconf
	makedepends = python
	makedepends = ruby
	makedepends = swig
	depends = libselinux>=3.10
	depends = audit
	optdepends = python: python bindings
	optdepends = ruby: ruby bindings
	provides = selinux-usr-libsemanage=3.10-1
	conflicts = selinux-usr-libsemanage
	options = !emptydirs
	source = https://github.com/SELinuxProject/selinux/releases/download/3.10/libsemanage-3.10.tar.gz
	source = https://github.com/SELinuxProject/selinux/releases/download/3.10/libsemanage-3.10.tar.gz.asc
	source = semanage.conf
	validpgpkeys = 63191CE94183098689CAB8DB7EF137EC935B0EAF
	validpgpkeys = 68D21823342A13683AEB3E4EFB4C685B5DC1C13E
	sha256sums = 1978894c414769ad77438d26886eaae3fb7bb74578ef2a5ad3130c89cb5cb1fe
	sha256sums = SKIP
	sha256sums = 5b0e6929428e095b561701ccdfa9c8b0c3d70dad3fc46e667eb46a85b246a4a0

pkgname = libsemanage
	provides = selinux-usr-libsemanage=3.10-1
	provides = libsemanage.so
