pkgbase = libsepol
	pkgdesc = SELinux binary policy manipulation library
	pkgver = 3.10
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = aarch64
	groups = selinux
	license = LGPL2.1
	makedepends = flex
	depends = glibc
	provides = selinux-usr-libsepol=3.10-1
	conflicts = selinux-usr-libsepol
	options = staticlibs
	options = !lto
	source = https://github.com/SELinuxProject/selinux/releases/download/3.10/libsepol-3.10.tar.gz
	source = https://github.com/SELinuxProject/selinux/releases/download/3.10/libsepol-3.10.tar.gz.asc
	validpgpkeys = 63191CE94183098689CAB8DB7EF137EC935B0EAF
	validpgpkeys = 68D21823342A13683AEB3E4EFB4C685B5DC1C13E
	sha256sums = d555586797fa9f38344496d2a7ec1147b6caaf3fcc44c42d8d5173edd7a79a71
	sha256sums = SKIP

pkgname = libsepol
	provides = selinux-usr-libsepol=3.10-1
	provides = libsepol.so
